<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jubookhub">

    <!-- Required permission for Firebase to access the internet -->
    <uses-permission android:name="android.permission.INTERNET" />


    <queries>
        <package android:name="com.google.android.gms" />
        <package android:name="com.android.vending" />
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JUeBOOKHub">

        <!-- Main Activity (Launcher Activity) -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login Activity -->
        <activity
            android:name=".activities.LoginActivity"
            android:exported="true" />

        <!-- Registration Activity -->
        <activity
            android:name=".activities.RegistrationActivity"
            android:exported="true" />

        <!-- Dashboard Activity -->
        <activity
            android:name=".activities.DashboardActivity"
            android:exported="true" />
        
        <!-- User Profile Activity -->
        <activity
            android:name=".activities.UserProfileActivity"
            android:exported="true" />

    </application>

</manifest>
